<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.emailverificationotp.EmailVerificationOtpActivity"
            android:exported="false"
            android:label="@string/title_activity_email_verification_otp"
            android:theme="@style/Theme.Authentication" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpasswordbyotp.ForgotPasswordByOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.verifyforgotpasswordbyotp.VerifyForgotPasswordByOtpActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>