<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.emailverification.EmailVerificationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${hostName}"
                    android:pathPrefix="/emailverification"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${hostName}"
                    android:pathPrefix="/forgotpassword"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>